.main-parent {
display: flex;
flex-flow:row wrap;
background-color: aliceblue;
}
.main-parent>.left-section1 {
  display: flex;
  flex-grow: 0;
  min-height: 70vh;
  align-content: center;
  justify-content: center;
  flex-flow:row wrap;
  flex: 0 0 30%;
  padding: 5px 5% 5px 15%;
}
.main-parent>.right-section1 {
  display: flex;
  background-image: url('./assets/Product\ Design.png');
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-grow: 0;
  background-position-x: left;
  background-size: 114%;
  background-position-y: bottom;
  flex: 0 0 50%;
}
.main-parent>.right-section2 {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-content: center;
  flex-flow:row wrap;
  flex: 0 0 34%;
  padding: 1% 15% 1% 1%;
}
.main-parent>.left-section2 {
  display: flex;
  background-image: url('./assets/more\ than\ visual\ design.png');
  min-height: 70vh;
  display: flex;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 0 50%;
}
.main-parent>.right-section3 {
  display: flex;
  background-image: url('./assets/user\ experience\ design.svg');
  min-height: 70vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  flex: 0 0 50%;
}
.main-parent>.left-section4 {
  display: flex;
  background-image: url('./assets/visual-design.svg');
  min-height: 70vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  flex: 0 0 50%;
}
.main-parent>.design-process {
  flex: 0 0 100%;
}
.main-parent>.design-process>h2, .main-parent>.design-process>p {
  text-align: center;
}

.discovery-image {
  background-color: cornflowerblue;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
}
.discovery-image>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.research-image, .wireframe-image, .ui-application-image {
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
}
.research-image>img, .wireframe-image>img, .ui-application-image>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.life-cycle {
  display: flex;
  flex: 0 0 60%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.research, .ui-application {
  flex: 0 0 100%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design-process-description {
  flex: 0 0 40%;
  padding: 0 5%;
}

.product-design-service {
  flex: 0 0 70%;
  display: flex;
  flex-direction: row;
  background-color: dodgerblue;
  flex-wrap: wrap;
  padding: 0px 15%;
}
.product-design-service>h1 {
  flex: 0 0 100%;
    text-align: center;
    color: aliceblue;
}

.product-design-service-item {
  background-color: white;
  margin: 15px;
  padding: 0px 40px;
  border-radius: 7px;
}

.product-design-service-item:hover {
  box-shadow: 4px 4px;
}

.product-design-service-item>h4 {
  margin: 10px;
  color: dodgerblue;
}

@media screen and (max-width: 480px) {
  .main-parent>.left-section2, .main-parent>.left-section1, .main-parent>.right-section2, .main-parent>.right-section1 {
    flex: 0 0 98%;
    padding: 1%;
  }
  .main-parent>.left-section1 {
    order: 1;
  }
  .main-parent>.right-section1 {
    order: 2;
  }
  .main-parent>.left-section2 {
    order: 4;
  }
  .main-parent>.right-section2 {
    order: 3;
  }
}